@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #363535;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  padding: 20px;
}

.user-name{
  font-family: "Rock 3D";
}

.link-header{
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background: #7e7e7e;
  font-family: Helvetica, sans-serif;
}

#cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content; 
}
